:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #00ccff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: rgb(0, 128, 192);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: rgb(0, 153, 255);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.15;
  border-bottom: 0.1rem solid rgba(0, 132, 255, 0.829);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: rgb(0, 170, 255);
  font-weight: 700;
  font-size: 20px;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: rgba(0, 119, 216, 0.813);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 0.1rem;
  background-color: #fff;
  color: var(--bg);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.shopping-cart .remove-item :hover {
  color: var(--primary);
}
/* Shopping end */

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; /* Menambahkan ini untuk memusatkan konten secara horizontal */
  background-image: url("/img/Netflix-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  max-width: 60rem;
  text-align: center; /* Menambahkan ini untuk memusatkan teks di dalam konten */
  color: white; /* Warna teks default untuk konten */
}

.hero .content h1 {
  white-space: nowrap;
  font-size: 3rem; /* Ukuran font disesuaikan */
  color: #fff;
  line-height: 1.2;
}

.hero .content h1 span {
  color: rgb(0, 128, 192);
}

.h2-info {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}
.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(0, 128, 192);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  text-decoration: none; /* Menghilangkan garis bawah pada tautan */
}

.hero .content .cta:hover {
  background-color: rgb(0, 100, 160); /* Warna latar belakang saat hover */
}

/** About Section */
.about {
  padding: 1rem 7% 15rem;
}

.contact {
  padding-top: 150px;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: rgb(0, 128, 192);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 15rem;
}

.about .row .about-img img {
  width: 80%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6rem;
}

/* Menu section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  font-size: 1.2rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Product section */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card .product-icons {
  padding-left: 10rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #1e1e1e;
  padding: 2rem;
}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #1d1d1d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
}
.products .product-stars .star-full {
  fill: var(--primary);
}

.products .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}
.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

.products .product-icons a:hover {
  background-color: var();
  border: 1px solid var();
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var();
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
}

/*Footer*/
footer {
  background-color: rgb(16, 16, 16);
  text-align: center;
  padding: 1rem 0rem 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0rem;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: rgb(0, 145, 255);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit a {
  color: rgb(0, 145, 255);
  font-weight: 700;
}

/* Media Queries */

/* laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 1s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0rem;
  }
}
/* Photo Grid */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px; /* Optional: Limit the maximum width of the grid */
  margin: 0 auto; /* Center the grid */
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Ensure images cover their container */
}

/* About Section */
.about-two {
  padding: 8rem 7% 1.4rem;
}

.row-two {
  display: flex;
  flex-direction: row-reverse; /* Change direction to have image on the right */
  align-items: center;
  gap: 10px; /* Optional: Add space between image and content */
}

.about-img {
  flex: 1;
  text-align: right; /* Align image to the right */
}

.about-img img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.content {
  flex: 1;
  padding: 0 20px;
}

.content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6rem;
}
